<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
       <section class="stats">
        <%= render 'shared/stats' %>
       </section>
        <div class="col-md-8">
         <%= render 'follow_form' if logged_in? %>
        </div>
         <div class="col-md-8">
          <h3><%= @title %></h3>
           <% if @users.any? %>
            <ul class="users follow">
             <div class="panel-body">
              <% @users.each do |following_user| %>
               <%= following_user.name %>
                <%= gravatar_for following_user %><hr>
             <%end%>
            </ul>
           <% end %>
          </div>
</div>